@font-face { font-family: "Nexa Light"; src: url("../fonts/nexalight.otf");}
@font-face { font-family: "Nexa Bold"; src: url("../fonts/nexabold.otf");}
body {text-align:center;font-family: "Nexa Light", sans-serif;background-color:#B3B3B3;}

/*--Home--*/

.container-fluid {padding: 0;}
.jumbotron {border-radius: 0;margin-bottom:0;background-color: transparent;}
.row{margin: 0; }.rowhomepage{background-color: #F2F2F2;}
.jumbotron h1{font-family: "Nexa Bold"; color: #EDEDED;}	h3{font-family: "Nexa Bold";font-size: 28px;} .jumbotron h2{color:#EDEDED;}
#collinks, #colrechts {;background-color: #F2F2F2; min-height: 100px; opacity: 0.8}
#jumbohead {margin-bottom: 0;padding: 120px;margin: 0;border-radius: 0;background-image: url("../img/banner.jpg");background-attachment: fixed;background-size: cover;background-position: bottom;background-color:#B3B3B3;-webkit-box-shadow: inset 0px 21px 40px -27px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 21px 40px -27px rgba(0,0,0,0.75);
box-shadow: inset 0px 21px 40px -27px rgba(0,0,0,0.75);}
#icon1, #icon2{display:block;height:64px;width:64px;margin:auto;background-repeat: no-repeat;}
#icon1{background-image: url("../img/compass.png");}
#icon2{background-image: url("../img/worker.png");}
#welcomewrap{max-width: 1600px;margin: auto;}


#topbar {height:50px;background-color: #F2F2F2;width: 100%;}
#topbar .btn{margin: 10px;float: right;font-size: 16px;}
.no-padding{margin: 0;padding: 0;}

 .btn{font-family: "Nexa Bold";color:white;border-radius: 0;border: none; background-color: #377BA5;-webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;}
 .btn:hover { 	background-color:#B1CEE0;color: black;
} strong{font-family: "Nexa Bold";}



/*--styleguide--*/
.styleguide {width: 100%;padding: 10px;}


/*--form--*/
.form-control{text-align: center;max-width: 600px;border-radius: 0;}
input{margin: auto;border: none;}


/*--Sticky footer-- */
.footer{width:100%;background-color:#377BA5;padding: 20px;color: white;font-family: "Nexa Bold";}
html {  position: relative;  min-height: 100%;}body { /* Margin bottom by footer height */  margin-bottom: 60px;}
.footer {  position: absolute;  bottom: 0;  width: 100%;  /* Set the fixed height of the footer here */ }


/*--Related Links--*/
#relatedlinks,#bezhometitle {width: 100%;background-color:#B3B3B3;-webkit-box-shadow: inset 0px 21px 40px -27px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 21px 40px -27px rgba(0,0,0,0.75);
box-shadow: inset 0px 21px 30px -27px rgba(0,0,0,0.75);}
#relatedlinks ul {max-width: 1200px; min-height: 180px; margin: auto;padding: 40px 0 0 0;}
#relatedlinks ul li{float: left;list-style-type:none;width: 33%;}
#relatedlinks ul li img {;width:100%;max-width: 160px;padding: 20px;}

/*--Login--*/
#jumbologin {padding: 20px;margin: 0;border-radius: 0;background-image: url("../img/banner.jpg");background-attachment: fixed;background-size: cover;background-position: bottom;background-color:#B3B3B3;-webkit-box-shadow: inset 0px 21px 40px -27px rgba(0,0,0,0.75);}

#loginform {background-color: #F2F2F2;padding: 20px;}

/*--Home Visitor--*/
#btnlogout{ padding: 8px;margin: 7px;color: white;}
.navbar{margin-bottom: 0;background-color: #F2F2F2;border: none;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background-color:#B6B9BB;color: white;}

h1 {font-family: "Nexa Bold"; color: #333;margin: 0;}
#bezhometitle{padding: 30px;}

/*--Registreer Bezoeker--*/
.register h1{font-size: 30px;}

#loginwithfb{background-color: red;background-image: url("../img/loginfb.jpg");display: inline-block;height: 50px;width: 260px;text-indent: -99999px}
.regfb {background-color: #F2F2F2;padding: 30px;}

.studarea {text-align: center;width: 100%;max-width: 600px; margin: auto;}

#instafeed {max-height: 300px; overflow: hidden; margin-top: 40px; }
#instafeed a img {-webkit-filter: grayscale(100%);}

/*instafeed*/

.profile_pic {height: 150px;width: 150px;margin:auto;background-size: cover;	}