@font-face {
    font-family: "Nexa Light";
    src: url("../fonts/nexalight.otf");
    font-family: "Nexa Bold";
    src: url("../fonts/nexabold.otf");
}
body {text-align:center;font-family: "Nexa Light";}

/*--Home--*/
#homecontainer {padding: 0;background-image: url("../img/banner.jpg");background-attachment: fixed;background-position:center; background-repeat: no-repeat;background-size: cover;}
#welcomehead {background-color: yellow;}
#welcomeleft {background-color: red;}
#welcomeright {background-color: blue;}
.jumbotron {border-radius: 0;margin-bottom:0;background-color: transparent;}
.row{margin: 0;}
h2{font-family: "Nexa Bold";}
#collinks, #colrechts {;background-color: #D1C1C1; min-height: 100px; opacity: 0.8}
#jumbohead {margin-bottom: 0;;padding: 120px;margin: 0;border-radius: 0;}
#carbg{max-width: 1000px;margin: auto; }
#icon1, #icon2{display:block;height:64px;width:64px;margin:auto;}
#icon1{background-image: url("../img/worker.png");}
#icon2{background-image: url("../img/compass.png");}
#topbar {position:fixed;z-index:3;top:0;background-color: #D1C1C1;opacity: 0.8;width: 100%;}
#topbar .btn{color: black;margin: 10px;float: right;}
#jumbohead h1{color:black;font-family: "Nexa Bold";}
 .btn{border-radius: 0;border: none; background-color: #377BA5;}
 .btn:hover {
 	background-color:#B1CEE0;
 	color: black; font-weight: bold;
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}
strong{font-family: "Nexa Bold";}
.footer{background-color:#377BA5;padding: 20px;}
.styleguide {background-color:#B1CEE0;width: 100%;opacity: 0.8;padding: 10px;}
/*--form--*/
.form-control{text-align: center;max-width: 600px;border-radius: 0;}
input{margin: auto;border: none;}
textarea.form-control{margin-left: auto;margin-right: auto;}
